<div class="card shadow-sm">
  <div class="card-body" style="height: 600px; width: 100%">
    <warp-view-tile url="{{w10URL}}/exec" responsive="true" unit="kW"
                    options='{"timeMode": "timestamp"}'
                    show-legend="true" chart-title="Last 30 d Load duration">
NOW ->TSELEMENTS [ 0 2 ] SUBLIST TSELEMENTS-> 'now' STORE
[ '{{rt}}' 'enedis.linky' { 'pdl' '{{pdl}}' } $now 30 d - ISO8601 $now ISO8601 ] FETCH
0 GET  'gts' STORE
$gts NAME 'name' STORE // get the className of the GTS
$gts LABELS 'labels' STORE 	// get labels

// reverse the order of values
$gts RVALUESORT VALUES 'values' STORE
// init increment
0 'i' STORE
// create a new gts to change the original tick by an increment
NEWGTS
$name RENAME // rename the GTS
$labels RELABEL // put labels
'data' STORE
$values <%
'val' STORE
// add the value in the new GTS
$data $i NaN NaN NaN $val ADDVALUE DROP
$i 1 + 'i' STORE // increment
%> FOREACH
$data
    </warp-view-tile>
  </div>
</div>
