<div class="card shadow-sm">
  <div class="card-body" style="height: 600px; width: 100%">
    <warp-view-tile url="{{w10URL}}/exec" responsive="true" unit="kW"
                    options='{"timeMode": "timestamp"}'
                    show-legend="true" chart-title="Last 30 d Load duration">
NOW ->TSELEMENTS [ 0 2 ] SUBLIST TSELEMENTS-> 'now' STORE
[ '{{rt}}' 'enedis.linky' { 'pdl' '{{pdl}}' } $now 30 d - ISO8601 $now ISO8601 ] FETCH
[ SWAP bucketizer.mean NOW 1 h 0 ] BUCKETIZE 'gts' STORE
<% $gts SIZE 0 > %> <%
  $gts
  $gts <%
    DROP RVALUESORT VALUES 'values' STORE
    NEWGTS
    $values <%
      'i' STORE 'val' STORE $i NaN NaN NaN $val ADDVALUE ''
    %> LMAP
  %> LMAP
  DROP
  $gts SIZE ->LIST 2 ->LIST ZIP <%
    DROP 				// exclude element index
    LIST-> 				// flatten list
    DROP  				// exclude number of elements of our list
    SWAP  				// put our fetched GTS on the top
    DUP  				// duplicate the GTS
    NAME 				// get the className of the GTS
    '' + 'name' STORE  	// suffix the name
    DUP LABELS 'labels' STORE 	// duplicate the GTS and get labels
    SWAP  				// put the anomaly GTS on the top of the stack
    $name RENAME   			// rename the GTS
    $labels RELABEL  		// put labels
    SWAP DROP
  %> LMAP
%> IFT
    </warp-view-tile>
  </div>
</div>
